.app__container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #316B65;
  margin: 20px 0;
  /*border: 1px black solid;*/
}
.app__title {
  font-size: 15px;
  color: #D5FAF1;
}
.app__subtitle {
  font-size: 15px;
  color: #86E7D4;
}
.app__contact {
  font-size: 10px;
  font-style: italic;
  color: #86E7D4;
}
.app__btn-scan {
  width: 200px;
  height: 50px;
  background-color: #55B5A6;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.app__btn-scan:hover {
  background-color: #254D4A;

}
.app__btn-scan:disabled {
  background-color: #254D4A;
  opacity: .3;
  cursor: auto;
}

.app__network-info {
  width: 80%;
  margin: 20px;
  position: relative;
}
.app__message {
  width: 100%;
  text-align: center;
  color: white;
}
.app__error{
  position: absolute;
  width: 100%;
  top: 20px;
  left: 5px;
  font-size: 12px;
  line-height: 13px;
  color: #86E7D4;
  /*border-bottom: 1px solid red;*/
}
.app__cameras {
  margin: 0;
  padding: 0;
  width: 90%;
}
.app__cameras-list {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /*border: 1px red solid;*/
}
.app__camera-item {
  position: relative;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  list-style: none;
  /*border: 1px red solid;*/
}
.app__form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  /*border: 1px red solid;*/
}
.app__icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.app__btn-camera-view {
  width: 100%;
  height: 40px;
  background-color: #55B5A6;
  color: white;
  border-radius: 10px;
  /*margin: 5px auto;*/
  flex-grow: 1;
  cursor: pointer;
}
.app__btn-camera-view:hover {
  background-color: #254D4A;
}
.app__btn-camera-view:disabled {
  background-color: #254D4A;
  cursor: auto;
}

.app__input-container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  margin: 0 5px;
}
.app__label {
  color: white;
  font-size: 12px;
  line-height: 13px;
}
app__input {
  border-radius: 2px;
}
.stream__container {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #316B65;
  border: 1px black solid;
}
.stream__frame {
  width: 640px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.stream__canvas {
  width: 640px;
  height: 480px;
  margin: 0;
  background-color: #55B5A6;
}
.stream__input-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}
.stream__label {
  width: 100%;
  color: white;
  font-size: 12px;
  line-height: 14px;
  align-self: flex-start;
}
.stream__input-orig-url {
  width: 100%;
  height: 20px;
}

